*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: #e7f6ff;
  font-family: "Inter", sans-serif;
  font-size: 16px;
}

a {
  color: inherit;
  text-decoration: none;
}

.layout {
  max-width: 70vw;
  margin: 96px auto 0;
  background-color: white;
  padding: 24px 48px;
  border-radius: 24px 24px 0 0;
  min-height: 100vh;
}

main {
  padding: 42px 0 0 0;
}

.header {
  margin: 0 -48px;
  padding: 0px 48px 24px 48px;
  border-bottom: 1px solid #eaeaea;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  .nav {
    display: flex;
    flex-direction: row;
    gap: 30px;

    a,
    button {
      border: none;
      outline: none;
      background-color: transparent;
      font-family: "Inter";
      font-style: normal;
      font-weight: 600;
      font-size: 14px;
      line-height: 17px;
      color: #9b9b9b;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 10px;
      cursor: pointer;
    }
  }
}

.logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 16px;
  justify-content: flex-start;
  font-family: "Inter";
  font-style: normal;

  h1 {
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    text-transform: uppercase;
    color: #000;
  }

  p {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #9d9d9d;
  }
}

.slider {
  position: relative;

  .controls {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    transform: translateY(-50%);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    button {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;

      --size: 35px;
      width: var(--size);
      height: var(--size);
      border-radius: 50%;
      border: none;
      outline: none;
      background-color: #fff;

      color: #c8c8c8;
      cursor: pointer;

      &.prev {
        margin-left: calc(var(--size) / -2);
      }

      &.next {
        margin-right: calc(var(--size) / -2);
      }
    }
  }

  .slide {
    display: grid;
    grid-template-columns: 1fr 2fr;
    min-height: 300px;
    max-height: 300px;
    border-radius: 20px;
    overflow: hidden;

    .part {
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: center;
      gap: 20px;
      padding: 24px 0 24px 48px;

      h2 {
        font-family: "Inter", sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 38px;
        line-height: 46px;

        span {
          color: #8bb43c;
        }
      }
    }

    img {
      display: block;
      max-height: 300px;
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
}

.button {
  text-decoration: none;
  background-color: #a5d364;
  color: #fff;
  border: none;
  outline: none;
  text-align: center;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  border-radius: 110px;
  padding: 16px 64px;

  &.button--xl {
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
  }
}

.section {
  margin-top: 40px;
  &-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    h2 {
      font-family: "Inter", sans-serif;
      font-style: normal;
      font-weight: 700;
      font-size: 32px;
      line-height: 39px;
      color: #000;
    }
  }
}

.search-box {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border: 1px solid #f3f3f3;
  border-radius: 10px;
  padding: 16px 18px;
  gap: 16px;

  .icon {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  input {
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    border: none;
    outline: none;
  }
}

.products {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px;
  margin-top: 40px;

  h2 {
    text-align: center;
    color: #c4c4c4;
    grid-column: 2 / 4;
    align-self: center;
  }
}

.product {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  position: relative;
  border: 1px solid #f3f3f3;
  border-radius: 24px;
  padding: 30px 30px 32px 30px;

  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    display: block;
    max-height: 112px;
  }

  &__footer {
    display: flex;
    align-items: center;
    justify-content: space-between;

    button {
      --size: 32px;
      width: var(--size);
      height: var(--size);
      cursor: pointer;
      border: none;
      outline: none;
      background-color: #fff;
      display: flex;
      align-items: center;
      justify-content: center;
      border: 1px solid #f8f8f8;
    }

    .price {
      display: flex;
      flex-direction: column;
      gap: 2px;

      .text {
        font-family: "Inter";
        font-style: normal;
        font-weight: 500;
        font-size: 11px;
        line-height: 13px;
        text-transform: uppercase;

        color: #bdbdbd;
      }

      .value {
        font-family: "Inter";
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 17px;
        color: #000000;
      }
    }
  }

  h3 {
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    margin: 14px 0;
  }

  &__action {
    position: absolute;
    top: 30px;
    left: 30px;

    button {
      --size: 32px;
      width: var(--size);
      height: var(--size);
      cursor: pointer;
      border: none;
      outline: none;
      background-color: #fff;
      display: flex;
      align-items: center;
      justify-content: center;
      border: 1px solid #f8f8f8;
    }
  }
}

// Cart Modal CSS

.overlay {
  position: fixed;
  inset: 0;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.3);
  visibility: hidden;
  opacity: 0;
  // transition: all 0.4s ease-in-out;
  animation-name: fadeOut;
  animation-duration: 300ms;
  animation-iteration-count: 1;

  &.active {
    visibility: visible;
    opacity: 1;

    animation-name: fadeIn;
    animation-duration: 300ms;
    animation-iteration-count: 1;
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
      visibility: hidden;
    }

    to {
      opacity: 1;
      visibility: visible;
    }
  }

  @keyframes fadeOut {
    from {
      opacity: 1;
      visibility: visible;
    }

    to {
      opacity: 0;
      visibility: hidden;
    }
  }

  .modal {
    position: absolute;
    display: grid;
    grid-template-rows: 0.25fr 4.75fr 1fr;
    gap: 30px;
    top: 0;
    bottom: 0;
    right: 0;
    max-width: 25vw;
    width: 100%;
    background-color: #fff;
    padding: 32px 30px 30px 30px;

    &-header {
      h2 {
        font-family: "Inter", sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 29px;
        color: #000000;
      }
    }

    &-body {
      overflow-y: scroll;
    }

    &-footer {
    }
  }
}

.cart-items {
  display: flex;
  flex-direction: column;
  gap: 20px;

  .cart-item {
    border: 1px solid #f3f3f3;
    border-radius: 20px;
    padding: 20px;
    display: flex;  
    align-items: center;
    flex-direction: row;
    justify-content: space-between;

    button {
      --size: 32px;
      width: var(--size);
      height: var(--size);
      cursor: pointer;
      border: none;
      outline: none;
      background-color: #fff;
      display: flex;
      align-items: center;
      justify-content: center;
      border: 1px solid #f8f8f8;
    }

    .cart-item__content {
      display: flex;
      flex-direction: column;
      gap: 8px;

      font-size: 14px;
      color: #000;
      line-height: 17px;

      .price {
        font-family: "Inter";
        font-style: normal;
        font-weight: 700;
      }

      h4 {
        font-family: "Inter";
        font-style: normal;
        font-weight: 400;
      }
    }

    img {
      max-width: 70px;
      max-height: 70px;
      min-height: 70px;
      min-width: 70px;
      object-fit: contain;
      width: 100%;
      height: 100%;
    }
  }
}
